<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>The-Godlings-Xcode.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>15C114A71D4EA63200DCF557</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>15C114BB1D4EA63300DCF557</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>15C114C61D4EA63300DCF557</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
